body {
    overflow: hidden;
  }
  
  /* Optional: This ensures the page doesn't shift when the scrollbar disappears */
  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }