  html, body {
    overflow: hidden;
    width: 100vw;
  }
  
  .scroll-animation {
    transition: transform 0.5s linear;
  }
  
  /* Optional: This ensures the page doesn't shift when the scrollbar disappears */
  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }