  /* html, body {
    overflow: hidden;
    width: 100vw;
  } */
  
  body {
    background-color: #f1f1f189;
    color: #09099f;
  }
/* 
  .scroll-animation {
    animation: name duration timing-function delay iteration-count direction fill-mode;
  } */
  
  /* Optional: This ensures the page doesn't shift when the scrollbar disappears */
  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }